extends mobile-layout

block content
    .page
        h1.text-center 出勤记录列表

        //- #echart(style='width:90vw;height:240px;margin:auto;')

        #resultList.card

    //- script(src='/javascripts/echarts.min.js')
    script(src='/javascripts/attendance-list.js')
