doctype html
html
  head
    title eve出勤统计系统
    meta(name='viewport' content='width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/weui.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/weui.min.js')
  body(data-weui-theme="light")
    block content
