body {
  padding: 10px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

.text-center{
  text-align: center;
}

.ml-16{
  margin-left: 16px;
}

.pl-16{
  padding-left: 16px;
}

.disabled-gb{
  background-color: #cbcaca87;
}

#imagePreview{
  background:RGBA(0,0,0,.5);
  background-size: contain;
  width:100vw;
  height:100vh;
  position:fixed;
  z-index:10000;
  top:0;
  left:0;
  cursor: zoom-out;
  background-repeat: no-repeat;
}

.size-contain{
  background-size: contain;
}
.display-none{
  display: none;
}

.card{
  border-radius: 4px;
  border: 1px solid #ebeef5;
  background-color: #fff;
  overflow: hidden;
  color: #303133;
  transition: .3s;
  margin: 4px;
  padding: 8px;
}

.tag{
  background-color: #409eff;
  color: #fff;
  padding:4px;
  border-radius: 4px;
  margin: 0 4px;
}


#resultList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#resultList >.result-item{
  width:80px;
}

.right{
  position:absolute;
  right: 24px;
}
